*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


    .center-text{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:4.5rem;
    }

    h1 span {
    display: inline-block;
}
